:root{
  --color-purple: #D8C1EB;
  --color-purple-dark: #a074c4;


  --color-primary: #F7A8B1;
  --color-primary-dark:#dd8f98;
  --color-navbar: #AAC7D5;
  --color--background: #F8F8F8;
  --color--background-dark:#F0F1F2;
  --color-accent: #8197A2;
  --color-secondary: #2D4874;
  --color-secondary-dark: #213961;
  --color--textdark:#2D4874;
  --color-btn:#8597A1;
  }